body{
    margin:0px;
}
#body-header{
    height:55vh;
    background: url(main.jpg) no-repeat center fixed;
    background-size:cover;
    background-position: center;
    opacity:0.9;
    background-attachment: fixed;
}
.mar{
    margin:60px;
}
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    text-align: center;
    margin:0px;
}
.horizontal-list li{
    font-size:1.7em;
    display:inline-block;
    margin:0px 12px 1px 0px;
}
.horizontal-list li a{
    color:white;
    text-decoration: none;
    transition: color 0.5s ,border-bottom 4s;
}
.horizontal-list li a:hover{
    color:red; 
    border-bottom:1px solid white; 
    border-radius: 50%;
}
#first-container{
    margin-top: 20vh;
}
.centre{
    text-align:center;
}
#name{
    font-size:1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    color:white;
    font-weight: 700;
}
#first-container li a i{
    padding: 10px;
    font-size: 1rem;
    box-radius:50px;
}
section
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n)
{
    background-color:azure;
}
section:nth-child(2n+1)
{
    background-color: white;
}
#first-container li a i:hover{
   box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
    border-radius: 50%;
}
#max{
    margin-top: -35px;
}
#about {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}
.mar{
    
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}
.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}
text-highlight2nd{
    color:aqua;
}


/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}
/*timeline*/
.timeline {
    position: relative;
    width: 75%;
     /* border: 2px solid black;*/

}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
   /* border: 2px solid black;*/
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 1;

}
.timeline-box1:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 1;

}


.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 1;
}

.timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
}

.timeline-traveller {
    position: sticky;
    top: 5%;
    transform: rotate(90deg);
    z-index: 2;
}
#contact {

background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

    color: white;
    padding-bottom: 40px;
}

#contact h1 span {
    color: white;
}
.text-highlight-inner
{
    color:cadetblue;
}
#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}




#contact-form button:hover {
    background: white;
    color: #13386fe0;
}
#courses{
    height:400px;
}
.courses-design{
     color:forestgreen;
}
#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}
.edu-cou-heading
{
    font-weight:400;
    font-size: 35px;
    color: #2857a4;
    display: inline-block;
}
.main-edu-cou-heading
{
    font-weight:400;
    font-size: 25px;
    color:darkkhaki;
    display: inline-block;
}
.sub-edu-cou-heading
{
    font-weight:400;
    font-size: 15px;
    color:green;
    display: inline-block;
}
#education{
    height:350px;
    width: 100%;
}

